.card {
  box-shadow: none;
  max-width: 17.5rem;
}

.card:hover {
  box-shadow: 12px 12px 16px 0 var(--shadow-grey),
    -8px -8px 12px 0 var(--shadow-black);
}

.wishlist-btn {
  color: var(--grey);
  cursor: pointer;
}
.wishlist-btn:hover {
  color: var(--primary-color);
}

.horizontal {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}

.vertical-center {
  align-items: center;
}

.strike-through {
  text-decoration: line-through;
}

.add-cart-btn .fa-shopping-cart {
  font-size: 1rem;
  color: var(--primary-color);
}
.add-cart-btn:hover .fa-shopping-cart {
  font-size: 1rem;
  color: var(--white);
}
