.login-card {
  width: 30rem;
  border-radius: 0.375rem;
}

.login-card {
  max-width: 37.5rem;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.625rem;
  padding: 3rem;
}

.login-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
